.navbar{
    justify-content: space-between;
}
.mat-button-space a,
.mat-button-space button {
  margin-right: 10px;
}

.mat-button-space a:last-child,
.mat-button-space button:last-child {
  margin-right: 0;
}

span {
    padding-right: 1rem;
}