<mat-toolbar color="primary" class="navbar fixed ">
  <img src="/assets/images/logo.png" style="max-height: 70px;" alt="Skinet">
  <!-- <div>Skinet</div> -->
  <div class="mat-button-space">
    <a mat-button>Home</a>
    <a mat-button>Shop</a>
    <a mat-button>Contact</a>
  </div>
  <div class="mat-button-space">
    <a mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </a>
    <a mat-stroked-button>Sign In</a>
    <a mat-raised-button color="accent">Sign Up</a>
  </div>
</mat-toolbar>
